.main {
  width: 100%;
  min-height: 100vh;
  padding: 100px 2rem;
}

.contact_form {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}

.contact_form > input,
.contact_form > textarea {
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem;
  border: 2px solid transparent;
  outline: none;
  background: var(--bg-primary);
  color: var(--color);
  font-size: 20px;
  resize: none;
}

.contact_form > input:focus,
.contact_form > textarea:focus {
  border: 2px solid var(--color);
}

.contact_form > button {
  border: none;
  background: inherit;
  color: inherit;
  font-weight: 700;
  margin: 1rem 0;
  outline: none;
  padding: 8px 1rem;
  border: 2px solid var(--color);
}

.contact_form > button:hover,
.contact_form > button:focus {
  background: var(--color);
  color: var(--bg-secondary);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: var(--bg-primary);
  border: 1px solid var(--color);
  padding: 3rem;
}

.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 10px;
  color: var(--color);
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .main {
    height: 100vh;
    padding: 100px 4rem;
    overflow: hidden;
  }
  .contact_form {
    width: 70%;
  }
}
